.img-wrapper
{
    display:block;
    margin:0;
    width:50%;
    left:5%;
    top:10%;
    position:absolute;
}

.caption
{
    display:none;
    width:98%;
    bottom:0;
    position:relative;
    background-color:rgb(210,210,210);
    border-radius: 0 0 5px 5px;
    font-family: "Lucida Console","Times New Roman";
    padding:1%;
}

.links
{
    float:right;
    display:inline-block;
    position:relative;
    height: 1.5em;
}

#profile
{
    display:block;
    width:40%;
    height:80%;
    position:absolute;
    left:10%;
    overflow:hidden;
}

#intro
{
    display:block;
    height:40%;
    width:40%;
    left:45%;
    top:10%;
    position:absolute;
    overflow:hidden;
}

#home-contents
{
    display:block;
    left:43%;
    top:50%;
    width:50%;
    height:50%;
    position:absolute;
}
